<h1 class="tableTitle">{{ title }}</h1>
<mat-spinner
  *ngIf="isLoading"
  style="margin: 0 auto"
  [diameter]="30"
></mat-spinner>
<app-todo-table *ngIf="!isLoading && todoData.length" [data]="todoData">
</app-todo-table>

<h1 class="tableTitle">Completed Task</h1>
<mat-spinner
  *ngIf="isLoading"
  style="margin: 0 auto"
  [diameter]="30"
></mat-spinner>
<app-todo-completed-table
  *ngIf="!isLoading && todoCompletedData.length"
  [completedTask]="todoCompletedData"
></app-todo-completed-table>
