mat-form-field {
  width: 775px;
}
.done-icon {
  color: #008000;
}
.delete-icon {
  color: #ff0000;
}
// table {
//   // background-color: #2a9d8f;
//   // background-color: #e9c46a;
//   // E76F51
//   // F4A261
//   // E9C46A
//   // 2A9D8F
//   // 264653
// }
