/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // background-color: #264653;
  //   color: #e9c46a;
}
.todo-table {
  thead tr th,
  tbody tr td {
    // background-color: #2a9d8f;
    text-align: center;
  }
}
